 <!-- -------------------------------Main Content-------------------------------- -->
 <section class="main py-16 ">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Searching a Book...?</em></h6>
            <h1 class="text-6xl font-bold">Order them Now !</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/img/books.jpg" alt="books">
        </div>
    </div>
</section>

<!-- ----------------------------------MENU OF BOOKS------------------------------ -->
<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8"> All Books</h1>
    <div class="grid grid-cols-4 col-gap-12 row-gap-16">
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/webtb1.jpg" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Web Programming and Internet Technologies</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">2nd Edition</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹300</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------- -->
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/webtb2.jpg" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Web Programming Step by Step </h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">2nd Edition</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹545</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------------------------------------- -->
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/webtb3.jpg" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Semantic Web Programming</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">2nd Edition</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹999</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------------------------------------- -->
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/webtb4.jpg" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Web Design Playground</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">2nd Edition</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹1250</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------------------------------------- -->
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/webtb5.jpg" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Web Programming</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">2nd Edition</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹600</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------------------------------------- -->
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/webtb6.jpg" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Learn Web Development with Python</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">2nd Edition</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹750</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------------------------------------- -->
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/webtb7.jpg" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">building the Web of things</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">2nd Edition</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹500</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------------------------------------- -->
        <div class="w-64">
            <img class="h-40 mb-4 mx-auto" src="/img/webtb8.jpg" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Level Up with your WEB apps with GO</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">2nd Edition</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹600</span>
                    <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>

        
    </div>
</section>